# Ingestion service Ignores
**/*/lambda_function.zip
output.txt
ingestion-service/package

# Python virtual env
ingestion-service/env 

commit.txt

__pycache__
.pytest_cache

# Docker created directories
volume/

**/*/env